h1 {
  text-align: center;
}

#list,
#task {
  margin: 5vh 38vw;
  width: 48vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#status {
  background-color: green;
  border-radius: 5px;
}

#remove {
  background-color: red;
  border-radius: 5px;
}

#todo > div {
  border: 1px solid black;
  width: 30vw;
  margin: 1vw auto;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.class-task {
  width: 20vw;
  height: 5vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

#userDetails {
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 80vw;
}

#list > input {
  width: 18vw;
  height: 4vh;
}

#list > button {
  height: 4vh;
  border-radius: 1vh;
  background-color: rgb(0, 150, 255);
  color: white;
}

.taskForm > input {
  width: 15vw;
  height: 3vh;
  margin-left: 6vw;
}

#listDel {
  height: 3vh;
}

#loginForm {
  width: 20vw;
  margin: 30vh auto;
  height: 24vh;
  border-radius: 2vh;
  background-color: white;
}

#login * {
  width: 12vw;
  margin-bottom: 1vh;
  margin-left: 4vw;
  margin-top: 1vh;
}

#login > button {
  background-color: rgb(0, 150, 255);
}

#log {
  background-color: whitesmoke;
}
